<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>PWS ~ login</title>
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body class="login-wrapper">
    <div class="container">
      <div class="login-form">
        <form action="" class="form-horizontal" method="post">
          <div class="control-group">
            <label for="username" class="control-label">Username:</label>
            <div class="controls">
              <input type="text" name="username" />
            </div>
          </div>
          <div class="control-group">
            <label for="password" class="control-label">Password:</label>
            <div class="controls">
              <input type="password" name="password" />
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="submit" class="btn" value="（\-_-)\┯━┯"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
