*.swp
application/cache/
.sass-cache/

sandbox/runner

system
vendor/
composer.phar

application/config/database.php
application/config/config.php
application/config/ideone.php
application/libraries/Twig
application/logs
