<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>pws ~ backend</title>
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <div class="main-wrapper container">
      <header>
        <h1 class="brand">( ╯#-_-)╯╧═╧ </h1>
      </header>
      <nav class="navbar section-navigation" role="navigation">
        <div class="navbar-inner">
          <div class="container">
            <ul>
              <li class="section section-activate"><a href="#">Tutor</a></li>
              <li class="section"><a href="#">Problem</a></li>
              <li class="section"><a href="#">User</a></li>
              <li class="section"><a href="#">Solution</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <section class="row posts-wrapper" role="main">
        <div class="options-wrapper span3">
          <ul class="nav nav-list">
            <li class="nav-header">Options</li>
            <li><a href="#">Create</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
        <div class="table-wrapper span9">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Title</th>
                <th>Options</th>
              </tr>
              <tr>
                <td>
                  <a href="#" class="posts-title">hello world</a>
                  <span class="date">2013-04-12</span>
                </td>
                <td>
                  <a href="#" class="posts-options">edit</a>
                  <a href="#" class="posts-options options-danger">delete</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#" class="posts-title">foobar</a>
                  <span class="date">2013-04-11</span>
                </td>
                <td>
                  <a href="#" class="posts-options">edit</a>
                  <a href="#" class="posts-options options-danger">delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <footer role="copyright">
        <p>Created by Maureen, xiaosheng and hbc with <span>♥</span></p>
        <p>Powered by <a href="http://ellislab.com/codeigniter">Codeigniter</a>, <a href="https://github.com/openjudge/sandbox">openjudge/sandbox</a>, <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> and <a href="http://sass-lang.com/">SASS</a>.</p>
      </footer>
    </div>
  </body>
</html>
